@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.product-title {
  font-size: 15px;
  font-family: "MONTSERRAT";
  font-weight: 500;
  margin-top: 8px;
}
#searchBar {
  display: none;
}
.product-price {
  font-size: 17px;
  font-weight: 500;
  font-family: "MONTSERRAT";
}
.footer-1 {
  font-size: 19pt;
  font-family: "ZHUM601N";
}
.footer-2 {
  margin-top: 10px;
  font-size: 16pt;
  font-family: "MONTSERRAT";
}
@media (max-width: 980px) {
  .product-title {
    font-size: 10px;
  }

  .product-price {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  .product-title {
    font-size: 10px;
  }

  .product-price {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .product-title {
    font-size: 12px;
  }

  .product-price {
    font-size: 14px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
