body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "MONTSERRAT";
  src: local("MONTSERRAT"), url("./fonts/MONTSERRAT-MEDIUM.OTF") format("otf");
}
@font-face {
  font-family: "ZHUM601N";
  src: local("ZHUM601N"), url("./fonts/ZHUM601N.TTF") format("truetype");
}
